# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
# Count the number of duplicate rows
num_duplicates = df.duplicated().sum()

print("Number of duplicate rows:", num_duplicates)

Number of duplicate rows: 154

In [4]:
# Finding duplicates in the "Respondent" column
duplicate_count = df.duplicated(subset=['Respondent']).sum()

print("Number of duplicate values in the 'Respondent' column:", duplicate_count)

Number of duplicate values in the 'Respondent' column: 154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [5]:
# Remove duplicate rows
df_cleaned = df.drop_duplicates()

# Print the shape of the cleaned DataFrame to verify the removal of duplicates
print("Shape of cleaned DataFrame:", df_cleaned.shape)

Shape of cleaned DataFrame: (11398, 85)

Verify if duplicates were actually dropped.

In [6]:
# Remove duplicate rows
df_cleaned = df.drop_duplicates()

# Print the number of rows in the original DataFrame
print("Number of rows in original DataFrame:", len(df))

# Print the number of rows in the cleaned DataFrame
print("Number of rows in cleaned DataFrame:", len(df_cleaned))

# Check if duplicates were actually dropped
if len(df_cleaned) < len(df):
    print("Duplicates were dropped successfully.")
else:
    print("No duplicates were found in the DataFrame.")

Number of rows in original DataFrame: 11552
Number of rows in cleaned DataFrame: 11398
Duplicates were dropped successfully.

## Finding Missing values

Find the missing values for all columns.

In [7]:
# Find missing values for all columns
missing_values = df.isnull().sum()

print("Missing values for all columns:")
print(missing_values)

Missing values for all columns:
Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       547
Ethnicity       683
Dependents      144
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [8]:
# Find missing values in the 'WorkLoc' column
missing_workloc = df['WorkLoc'].isnull().sum()

print("Number of rows missing in the 'WorkLoc' column:", missing_workloc)

Number of rows missing in the 'WorkLoc' column: 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [9]:
# Find value counts for the 'WorkLoc' column
workloc_value_counts = df['WorkLoc'].value_counts()

print("Value counts for the 'WorkLoc' column:")
print(workloc_value_counts)

Value counts for the 'WorkLoc' column:
Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [10]:
# Find the most frequent value in the 'WorkLoc' column
most_frequent_workloc = df['WorkLoc'].value_counts().idxmax()

print("The most frequent value in the 'WorkLoc' column is:", most_frequent_workloc)

The most frequent value in the 'WorkLoc' column is: Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [11]:
# Identify the most frequent value in the 'WorkLoc' column
most_frequent_workloc = df['WorkLoc'].value_counts().idxmax()

# Replace empty rows in the 'WorkLoc' column with the most frequent value
df['WorkLoc'].fillna(most_frequent_workloc, inplace=True)

# Verify the replacement
print("Value counts for the 'WorkLoc' column after replacement:")
print(df['WorkLoc'].value_counts())

Value counts for the 'WorkLoc' column after replacement:
Office                                            6937
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: WorkLoc, dtype: int64

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [12]:
# Identify the most frequent value in the 'WorkLoc' column
most_frequent_workloc = df['WorkLoc'].value_counts().idxmax()

# Replace empty rows in the 'WorkLoc' column with the most frequent value
df['WorkLoc'].fillna(most_frequent_workloc, inplace=True)

# Verify if there are any missing values in the 'WorkLoc' column
missing_workloc_after_imputation = df['WorkLoc'].isnull().sum()

if missing_workloc_after_imputation == 0:
    print("Imputation was successful. There are no empty rows in the 'WorkLoc' column.")
else:
    print("Imputation was not successful. There are still", missing_workloc_after_imputation, "empty rows in the 'WorkLoc' column.")

Imputation was successful. There are no empty rows in the 'WorkLoc' column.

In [13]:
# Find the number of duplicate values in the 'Respondent' column
num_duplicates_respondent = df['Respondent'].duplicated().sum()

print("Number of duplicate values in the 'Respondent' column:", num_duplicates_respondent)

Number of duplicate values in the 'Respondent' column: 154

In [14]:
# Get the number of rows after removing duplicates
num_rows_after_removal = df_cleaned.shape[0]

print("Number of rows after removing duplicate rows:", num_rows_after_removal)

Number of rows after removing duplicate rows: 11398

In [15]:
# Find the number of unique rows in the 'Respondent' column
num_unique_respondent = df_cleaned['Respondent'].nunique()

print("Number of unique rows in the 'Respondent' column after removing duplicate rows:", num_unique_respondent)

Number of unique rows in the 'Respondent' column after removing duplicate rows: 11398

In [16]:
# Count the number of blank rows in the 'EdLevel' column after removing duplicate rows
num_blank_edlevel = df_cleaned['EdLevel'].isnull().sum()

print("Number of blank rows in the 'EdLevel' column after removing duplicate rows:", num_blank_edlevel)

Number of blank rows in the 'EdLevel' column after removing duplicate rows: 112

In [17]:
# Count the number of missing rows in the 'Country' column after removing duplicate rows
num_missing_country = df_cleaned['Country'].isnull().sum()

print("Number of missing rows in the 'Country' column after removing duplicate rows:", num_missing_country)

Number of missing rows in the 'Country' column after removing duplicate rows: 0

In [18]:
# Identify the majority category under the 'Employment' column
majority_category_employment = df_cleaned['Employment'].value_counts().idxmax()

print("Majority category under the 'Employment' column:", majority_category_employment)

Majority category under the 'Employment' column: Employed full-time

In [19]:
# Identify the category with the minimum number of rows under the 'UndergradMajor' column
min_category_undergrad_major = df_cleaned['UndergradMajor'].value_counts().idxmin()

print("Category with the minimum number of rows under the 'UndergradMajor' column:", min_category_undergrad_major)

Category with the minimum number of rows under the 'UndergradMajor' column: A health science (ex. nursing, pharmacy, radiology)

## Normalizing data

In [20]:
# Read the CSV file into a DataFrame
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [21]:
# List out the various categories in the 'CompFreq' column
compfreq_categories = df['CompFreq'].unique()

print("Categories in the 'CompFreq' column:")
print(compfreq_categories)

Categories in the 'CompFreq' column:
['Yearly' 'Monthly' 'Weekly' nan]

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [22]:
# Define a function to convert compensation to an annual basis
def normalize_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return row['CompTotal']

# Apply the function to each row of the DataFrame to create the new column
df['NormalizedAnnualCompensation'] = df.apply(normalize_compensation, axis=1)

# Display the DataFrame with the new column
print(df.head())

   Respondent                      MainBranch Hobbyist  \
0           4  I am a developer by profession       No
1           9  I am a developer by profession      Yes
2          13  I am a developer by profession      Yes
3          16  I am a developer by profession      Yes
4          17  I am a developer by profession      Yes

                                         OpenSourcer  \
0                                              Never
1                         Once a month or more often
2  Less than once a month but more than once per ...
3                                              Never
4  Less than once a month but more than once per ...

                                          OpenSource          Employment  \
0  The quality of OSS and closed source software ...  Employed full-time
1  The quality of OSS and closed source software ...  Employed full-time
2  OSS is, on average, of HIGHER quality than pro...  Employed full-time
3  The quality of OSS and closed source software ...  Employed full-time
4  The quality of OSS and closed source software ...  Employed full-time

          Country Student                                            EdLevel  \
0   United States      No           Bachelor’s degree (BA, BS, B.Eng., etc.)
1     New Zealand      No  Some college/university study without earning ...
2   United States      No        Master’s degree (MA, MS, M.Eng., MBA, etc.)
3  United Kingdom      No        Master’s degree (MA, MS, M.Eng., MBA, etc.)
4       Australia      No           Bachelor’s degree (BA, BS, B.Eng., etc.)

                                      UndergradMajor  ...  \
0  Computer science, computer engineering, or sof...  ...
1  Computer science, computer engineering, or sof...  ...
2  Computer science, computer engineering, or sof...  ...
3                                                NaN  ...
4  Computer science, computer engineering, or sof...  ...

                                        SONewContent   Age Gender Trans  \
0  Tech articles written by other developers;Indu...  22.0    Man    No
1                                                NaN  23.0    Man    No
2  Tech articles written by other developers;Cour...  28.0    Man    No
3  Tech articles written by other developers;Indu...  26.0    Man    No
4  Tech articles written by other developers;Indu...  29.0    Man    No

                 Sexuality                              Ethnicity Dependents  \
0  Straight / Heterosexual           White or of European descent         No
1                 Bisexual           White or of European descent         No
2  Straight / Heterosexual           White or of European descent        Yes
3  Straight / Heterosexual           White or of European descent         No
4  Straight / Heterosexual  Hispanic or Latino/Latina;Multiracial         No

            SurveyLength                  SurveyEase  \
0  Appropriate in length                        Easy
1  Appropriate in length  Neither easy nor difficult
2  Appropriate in length                        Easy
3  Appropriate in length  Neither easy nor difficult
4  Appropriate in length                        Easy

  NormalizedAnnualCompensation
0                      61000.0
1                     138000.0
2                      90000.0
3                     348000.0
4                      90000.0

[5 rows x 86 columns]

In [23]:
# Count the number of unique values in the 'CompFreq' column
num_unique_values_compfreq = df['CompFreq'].nunique()

print("Number of unique values in the 'CompFreq' column:", num_unique_values_compfreq)

Number of unique values in the 'CompFreq' column: 3

In [24]:
# Count the number of respondents being paid yearly
num_yearly_compensation = df_cleaned[df_cleaned['CompFreq'] == 'Yearly'].shape[0]

print("Number of respondents being paid yearly after removing duplicate rows:", num_yearly_compensation)

Number of respondents being paid yearly after removing duplicate rows: 6073

In [25]:
# Create the 'NormalizedAnnualCompensation' column
def normalize_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return None

df_cleaned['NormalizedAnnualCompensation'] = df_cleaned.apply(normalize_compensation, axis=1)

# Find the median of the 'NormalizedAnnualCompensation' column
median_normalized_annual_compensation = df_cleaned['NormalizedAnnualCompensation'].median()

print("Median NormalizedAnnualCompensation:", median_normalized_annual_compensation)

Median NormalizedAnnualCompensation: 100000.0